doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'Быстрый запуск Webpack'
    body
        p Файл откомпилирован шаблонизатором Pug

img.logo1(src=require('./images/image.png') alt='Загрузка PNG изображений с помощью Webpack')

img.logo2(src=require('./images/logo.svg'), alt='Загрузка SVG изображений с помощью Webpack')